*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Tahoma;
}

/*Especiicando o tamanho da página no body e a largura (height e width) e inserção de imagem de fundo (background-image*/
body{
	background-image: url(../img/background-bodyofuscado.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	
	height: 100vh;
	width: 100vw;
}

/*Cabeçalho, lugar onde fica os botões de navegação e a logo. Especificando largura e altura do cabeçalho (height e width). e degradê do fundo. */
header{
	width: 100%;
	height: 13vh;
	background: rgb(0,0,0);
	background: linear-gradient(357deg, rgba(0,0,0,0.34217436974789917) 0%, rgba(255,255,255,0) 80%);
}

/*/*posição dos itens em relação ao topo do body (height) e largura de 100% (width)*/
#conteudo_principal{
	height: 100%;
	width: 100%;
	cursor: pointer;

}

/*especificando espaçamento dos itens logo e btns de navegação para ficar todos na esquerda(width vw). 
Capitalização (text-transform), ajustar os itens na tela (display flex).
Justificando texto no centro-esquerda(justify-context space-around)
Alinhamento dos itens no centro um ao lado do outro (align-items: center)*/
.menus{
	width: 48vw;
	text-transform: uppercase;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 9pt;
}

.right-items{
	text-transform: uppercase;
	height: 100%;
	display: flex;
	justify-content:flex-end;
	align-items: center;
	font-size: 9pt;
	color:#64f5f6
}

.itens-da-direita{
	display: flex;
	margin-top: -80px;
	margin-right: 50px;
	gap: 29px;
	list-style: none;
}

.itens-da-direita a{
	position: relative;
	font-style: none;
	text-decoration: none;
	color:#64f5f6
}

.itens-da-direita a:before{
	content:'';
	position: absolute;
	bottom: -3px;
	left: 0px;
	width: 0px;
	height: 1px;
	background-color: white;
	transition: all 0.9s ease;
}

.itens-da-direita a:hover:before{
	width: 100%;
}

/*Formatação da logo (maissorriso.png: margem de 2px e a largura da imagem (width)*/
img{
	margin: 2px;
	width: 120px;
}

/*formataão dos itens de navegação por meio de uma class: Centralização (display flex), espaço entre os itens (gap)e remoção de marcadores (list-style)*/
.lista-de-itens{
	display: flex;
	gap: 20px;
	list-style: none;

}

/*muda a cor dos itens (btn de navegação) tira a decoração dos itens (text decoration e font-style)*/
.lista-de-itens a{
	position: relative;
	color: #64f5f6;
	text-decoration: none;
	font-style: none;

}

/*aqui especificamos a posição da linha ou sublinhado dos itens (bottom, left, width, height) e a cor (background-color)
E também a transição de tempo em que ocorre a transição da esquerda pra direita da animação da linha (transition)*/
.lista-de-itens a:before{
	content:'';
	position: absolute;
	bottom: -3px;
	left: 0px;
	width: 0px;
	height: 1px;
	background-color: white;
	transition: all 0.9s ease;
}

/*o elemento hover é o responsável por realizar essa transição, e especificamos
 até quanto de largura queremos que a linha chegue. (width)*/
.lista-de-itens a:hover:before{
	width: 100%;
}

/*aqu especificamos a posição do input, o placeholder (label) e o botão, onde queremos que fique na tela.
*/
#input-e-botaos{
	height: 75%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* configuração do botão*/
#botaos{
	width: 700px;
	padding: 30px 50px;
	
}

/*padding,, height e letter-spacing especificam o tamanho do alcance da caixa de seleção do input.
E também a remoção de borda, cor de fundo e contorno*/
#input_text{
	color: white;
	padding: 5px;
	height: 40px;
	letter-spacing: 2px;
	width: 400px;
	outline: none;
	border: 0;
	border-bottom: 2px solid white;
	background-color: transparent;

}


/*Aqui formatamos o nosso placeholder manual, posição cor, tamanho, fonte e tudo dentro da caixa de input*/
.pesquise{
	justify-content: center;
	align-items: center;
	display: flex;
	color: white;
	left: 0;
	position: absolute;
	margin-left: 400px;
	margin-top: -30px;
	pointer-events: none;
	font-size: 9pt;
	text-transform: uppercase;

}

/* ANIMAÇÃO DO TEXTO DENTRO DO INPUT
COR DE TRANSIÇÃO DO, TAMANHO, LARGURA E DESLOCAMENTO PLACEHOLDER MANUAL*/
#input_text:valid ~ span,
#input_text:focus ~ span
{
	color: #64f5f6;
	transform: translateX(-10px) translateY(-26px);
	font-size: 7.5pt;
	padding: 0.10px;
	transition: 0.8s;
}

/*CONFIGURAÇÃO DO BOTÃO*/
.botão{
	font-size: 8pt;
	left: 20px;
	font-weight: bold;
	position: relative;
	height: 20pt;
	width: 70pt;
	color: white;
	border-radius: 10px;
	border: 1px solid white;
	background-color: transparent;
	border: none;
	cursor: pointer;
	letter-spacing: 3px;
	font-family: arial;
	text-transform: uppercase;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}

footer{
	width: 100%;
	height: 10vh;
	
}

#rodapé{
	height: 100%;
	width: 100%;
	cursor: pointer;

}

.menus-do-rodapé{
	width: 20vw;
	text-transform: uppercase;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 9pt;
}

.lista-de-itens-do-rodapé{
	display: flex;
	gap: 20px;
	list-style: none;
}

.lista-de-itens-do-rodapé a{
	list-style: none;
	text-decoration: none;
	color: #64f5f6;
	position: relative;
}

.table-bg {
	background: rgba(5, 28, 44, 0.5);
	border-radius: 15px 15px 0 0;
	
}
thead{
	text-align: center;
	color: #64f5f6;
}
tbody {
	text-align: center;
	color: azure;
	line-height: 100%;
}
.btn-sm {
	text-align: center;
	font-size: 12px;
	padding: 2px 4px;
	line-height: 0%;
}


